-
    contactsStaff1 = [
        {
            name: 'СЕРГЕЙ ОРЛОВ',
            img: 'i/staff/orlov.png',
            img2: 'i/staff/orlov-2.jpg',
            department: 'стратегия',
            activity: 'Руководитель компании',
            contacts: {
                office: '8 (800) 5000 163, доб. 2345'
            }
        },
        {
            name: 'Евгения Седых',
            img: 'i/staff/8.png',
            department: 'Продажи',
            activity: 'Руководитель направления',
            contacts: {
                tel: '+7 (927) 656-28-44',
                office: '8 (800) 5000 163',
                mail: 'e.sedykh@pp-mail.com'
            }
        },
        {
            name: 'СТАНИСЛАВА СИМОНОВА',
            img: 'i/staff/simonova.png',
            department: 'Запчасти',
            activity: 'Менеджер по запчастям',
            contacts: {
                tel: '+7 (927) 266-82-24',
                office: '8 (800) 5000 163',
                mail: 's.simonova@pp-mail.com'
            }

        },
        {
            name: 'СЕРГЕЙ БУДЫЛИН',
            img: 'i/staff/budylin.png',
            department: 'СЕРВИС, КОНСУЛЬТАЦИИ',
            activity: 'Директор по сервису',
            contacts: {
                tel: '+7 (937) 200-06-37',
                office: '8 (800) 5000 163',
                mail: 's.budylin@pp-mail.com'
            }
        },
    ]

-
    contactsStaff2 = [
        {
            name: 'СЕРГЕЙ ОРЛОВ',
            img: 'i/staff/orlov.png',
            department: 'стратегия',
            activity: 'Руководитель компании',
            contacts: {
                office: '8 (800) 5000 163, доб. 2345'
            }
        },
        {
            name: 'АНИСЬКИН ДЕНИС',
            img: 'i/staff/aniskin.jpg',
            img2: 'i/staff/aniskin-2.jpg',
            department: 'ПРОДАЖИ',
            activity: 'Руководитель направления',
            contacts: {
                tel: '+7 (981) 243-13-93',
                office: '+7 (846) 379-40-24',
                mail: 'd.aniskin@pp-mail.com'
            }
        },
        {
            name: 'Тагир Ямалетдинов',
            img: 'i/staff/3.jpg',
            img2: 'i/staff/3-2.jpg',
            department: 'продажи',
            activity: 'Менеджер направления',
            contacts: {
                tel: '+7 (927) 026-07-43',
                office: '+7 (846) 379-40-24',
                mail: 'fae@pp-mail.com'
            }
        },
        {
            name: 'Гаврилова Юлия',
            img: 'i/staff/gavrilova.png',
            department: 'ПРОДАЖИ',
            activity: 'Менеджер направления',
            contacts: {
                tel: '+7 (937) 189-98-70',
                office: '+7 (846) 379-40-24',
                mail: 'j.gavrilova@pp-mail.com'
            }
        },
        {
            name: 'Елизавета Рыжаикина',
            img: 'i/staff/ryzhakina.jpg',
            img2: 'i/staff/ryzhakina-2.jpg',
            department: 'ПРОДАЖИ',
            activity: 'Менеджер направления',
            contacts: {
                tel: '+7 (937) 189-98-70',
                office: '+7 (846) 379-40-24',
                mail: 'j.gavrilova@pp-mail.com'
            }
        },
        {
            name: 'СЕРГЕЙ БУДЫЛИН',
            img: 'i/staff/budylin.png',
            department: 'СЕРВИС, КОНСУЛЬТАЦИИ',
            activity: 'Директор по сервису',
            contacts: {
                tel: '+7 (937) 200-06-37',
                office: '8 (800) 5000 163',
                mail: 's.budylin@pp-mail.com'
            }
        },

        {
            name: 'Максим Орехов',
            img: 'i/staff/6.png',
            department: 'запчасти',
            activity: 'Менеджер отдела запчастей',
            contacts: {
                tel: '+7 (927) 905-99-57',
                office: '+7 (846) 379-40-24',
                mail: 'm.orekhov@pp-mail.com'
            }
        },
        {
            name: 'АЛЕКСЕЙ ТРУШКИН',
            img: 'i/staff/tryshkin.png',
            department: 'Бyхгалтерия',
            activity: 'Бухгалтерия',
            contacts: {
                office: '+7 (846) 379-40-24',
                mail: 'a.trushkin@pp-mail.com'
            }

        },
    ]

