mixin policy
    .container
        .page__breadcrumbs
            +breadcrumbs(['Главная', 'Политика конфиденциальности'], 'light')
        h1.page__heading.light.black
            p
                span Политика конфиденциальности
                span.animate-title-block
        .policy-page__separator
            .separator-light
        .js-animate
            .policy-page__content.js-soa.is-scroll-invisible
                p Наличие подготовленной трассы – одно из обязательных условий безопасной езды на снегоходе. Дороги для такого транспорта устраивают в природных парках, в зимних курортных зонах, а также в местах, где невозможно передвижение на обычных колесных транспортных средствах.
                hr
                p Современный снегоход – скоростной транспорт. Препятствия под слоем снега, крутой поворот, наличие на пути канавы, ямы, может вызывать опрокидывание снегохода и тяжелые травмы водителя и пассажиров. Особую опасность представляет движение по глубокому снегу, под ним легко не заметить глыбу льда, камни и другие препятствия.
                p Поверхность трассы должна быть ровной и достаточно плотной для того, чтобы лыжа снегохода оставалась на поверхности. Для подготовки трасс для снегоходов применяют ратраками или другими снегоходами.
                h2 H1 - Примеры списков
                h3 H2 - маркированый
                ul
                    li Удаляют пни, валуны, другие возможные препятствия.
                    li Размечают маршрут с допустимыми углами поворотов, подъемов и спусков.
                    li Расставляют указатели и уплотняют снег.
                h3 H2 - нумерованый
                ol
                    li Обеспечивают ровное, плотное покрытие.
                    li Экономят время подготовки трассы.
                    li Позволяют срезать наледь.
                    li Заполняют ямы и удаляют наплывы.
                p Строительство и содержание снегоходных трасс – комплексное мероприятие. Для безопасной езды необходимо поддерживать плотность покрытия при положительных температурах, снегопадах, а также восстанавливать его при интенсивном движении. Приобрести или арендовать спецтехнику для уплотнения снега (ратрак) – отличный способ снизить затраты.


