mixin errorPage
    .page-404
        ._in
            ._img
                p._img-in
                    img(src="i/logo-dark.svg" alt="логотип прайм-прайд")
            h1._title ошибка 404
            h3._subtitle Страница, которую вы запрашиваете, не существует