include data
include top
include threeColumn
include threeColumn2
include descriptions

mixin productCardNew
    .product-card
        ._top
            +productTop
        section.page__section
            .container
                h2.hidden слайдер товара
                .product-card__slider
                    +productSlider(sliderProductCard)
                .product-card__separatop
                    h3.product-card__h3 Дополнительная информация
                    .separator.light
                .product-card__docs
                    +docs([
                        {name: 'Технические характеристики', size: '11.4 KB'},
                        {name: 'Буклет PistenBully 600', size: '8.7 MB'},
                        {name: 'линейка PistenBully nordic', size: '14.2 MB'},
                    ])(class="dark")
        section.page__section.dark
            .container.js-animate
                .product-card__title-wrap
                    +titleBlock({
                        align: 'left',
                        theme: 'light',
                        title: ['технические', 'indent', 'характеристики'],
                    })
                .js-soa.is-scroll-invisible
                    .catalog-content
                        +table(dataTableCard1)
        section.page__section
            .container
                .product-card__section.js-animate
                    .product-card__title-wrap
                        +titleBlock({
                            align: 'left',
                            theme: 'light',
                            title: ['бестселлер на все   ',  'времена'],
                        })
                    .js-soa.is-scroll-invisible
                        +threeColumn
                .product-card__section.js-animate
                    .product-card__title-wrap
                        +titleBlock({
                            align: 'left',
                            theme: 'light',
                            title: ['Кабина ','водителя'],
                        })
                    .js-soa.is-scroll-invisible
                        +threeColumn2
                .product-card__section.js-animate
                    .product-card__title-wrap
                        +titleBlock({
                            align: 'left',
                            theme: 'light',
                            title: ['Описание'],
                        })
                    .js-soa.is-scroll-invisible
                        +description
        section.page__section.black.page__separator
            .js-animate
                .container
                    .product-card__title-wrap
                        +titleBlock({
                            align: 'left',
                            theme: 'dark',
                            title: ['галерея'],
                        })
                .js-soa.is-scroll-invisible
                    +gallerySlider({list: productCardGalleryMain, theme: 'dark', params: {isNeedFractionPagination: true, isNeedBtn: false, isNeedBullet: true}})
                .js-soa.is-scroll-invisible

                    +certificateSwiper({list: productCardGalleryMain, theme: 'dark', params: {isNeedFractionPagination: true, isNeedBtn: false, isNeedBullet: true}})
        section.page__section.black
           .js-animate
                .container
                    .product-card__title-wrap
                        +titleBlock({
                            align: 'left',
                            theme: 'dark',
                            title: ['Видео'],
                        })
                .js-soa.is-scroll-invisible
                    +_videoSlider({list: productCardVideo, theme: 'dark', params: {isNeedFractionPagination: true, isNeedBtn: false, isNeedBullet: true}})
        section.page__section
            .js-animate
                .container
                    .product-card__title-wrap.product-card__title-wrap-slider
                        +titleBlock({
                            align: 'left',
                            theme: 'light',
                            title: ['Навесное', 'indent', 'оборудование'],
                        })
                .js-soa.is-scroll-invisible
                    +sliderOptionally({list: testList, needTitle: true, cardClass: 'optionally'})
        section._content.page__section
            .container.js-animate
                +staffBlock
        section._side-page-content
            div.js-side-page-content(data-id="leasing")
                .side-page__wrap
                    h3.side-page__title Лизинг
                    p.side-page__text Мы очень быстро предоставляем все документы, требуемые лизинговой компанией.
                    p.side-page__text This is what the combi track was originally designed for: suitable for use anywhere, from "normal" terrain to steep slopes. However, increasing amounts of machine-made snow also places.
                    p.side-page__text Мы очень быстро предоставляем все документы, требуемые лизинговой компанией.
                    p.side-page__text Оставьте заявку — наш специалист вскоре свяжется с вами и ответит на все вопросы:
                .side-page__form
                    +formProductCard
            div.js-side-page-content(data-id="installment")
                .side-page__wrap
                    h3.side-page__title Рассрочка
                    p.side-page__text Мы очень быстро предоставляем все документы, требуемые лизинговой компанией.
                    p.side-page__text This is what the combi track was originally designed for: suitable for use anywhere, from "normal" terrain to steep slopes. However, increasing amounts of machine-made snow also places.
                    p.side-page__text Мы очень быстро предоставляем все документы, требуемые лизинговой компанией.
                    p.side-page__text Оставьте заявку — наш специалист вскоре свяжется с вами и ответит на все вопросы:
                .side-page__form
                    +formProductCard

            div.js-side-page-content(data-id="demo")
                    ._wrap
                        h3.side-page__title Демонстрация
                        p.side-page__text Мы очень быстро предоставляем все документы, требуемые лизинговой компанией.
                        p.side-page__text This is what the combi track was originally designed for: suitable for use anywhere, from "normal" terrain to steep slopes. However, increasing amounts of machine-made snow also places.
                        p.side-page__text Мы очень быстро предоставляем все документы, требуемые лизинговой компанией.
                        p.side-page__text Оставьте заявку — наш специалист вскоре свяжется с вами и ответит на все вопросы:
                        .side-page__form
                            +formProductCard


mixin formProductCard
    +form({
        event: 'js-form',
        theme: 'light',
        action: 'action-address.php',
        btnType: 'light',
        btnText: 'Оставить заявку',
        agreementText: 'Отправляя запрос вы соглашаетесь с ',
        inputs: [
            {
                isDisabled: false,
                isError: false,
                theme: '',
                placeholder: 'Ваше имя',
                value: '',
                type: 'text',
                required: true
            },
            {
                isDisabled: false,
                isError: false,
                theme: '',
                placeholder: 'Номер телефона',
                value: '',
                type: 'tel',
                required: true
            },
            {
                isDisabled: false,
                isError: false,
                theme: '',
                placeholder: 'Электронная почта',
                value: '',
                type: 'email',
                required: true
            },
            {
                isDisabled: false,
                isError: false,
                theme: '',
                placeholder: 'Комментарий',
                value: '',
                type: 'textarea',
                required: true
            },
        ]
    })

