mixin threeColumn2
    .catalog-content
        h4 Продуманная эргономика рабочего места и превосходный обзор
        .row
            .col-md-2.col-d-3
                img(src="i/product-card/n5.jpg" alt="alt изображения")
                h3 ШТУРВАЛ И МНОГОФУНКЦИОНАЛЬНЫЙ ДИСПЛЕЙ
                p На PistenBully 600 Polar SCR установлен полукруглый штурвал с возможностью бесступенчатой регулировки по вертикали и горизонтали с многофункциональным дисплеем.
            .col-md-2.col-d-3
                img(src="i/product-card/n3.jpg" alt="alt изображения")
                h3 СИСТЕМА ЦЕТРАЛЬНОГО УПРАВЛЕНИЯ “TERMINAL” И СЕНСОРНЫЙ ЭКРА
                p Управление всеми функциями осуществляется просто: с помощью сенсорного экрана или через систему центрального управления Terminal.
            .col-md-2.col-d-3
                img(src="i/product-card/n2.jpg" alt="alt изображения")
                h3 ДЖОЙСТИК PISTENBULLY: ВСЕ ФУНКЦИИ – В ОДНОЙ РУКЕ!
                p С джойстиком PistenBully Kassborher управление всеми важными функциями всегда у вас под рукой, а значит в самом быстром доступе.

            .col-md-2.col-d-3
                img(src="i/product-card/c1.jpg" alt="alt изображения")
                h3 ШТУРВАЛ И МНОГОФУНКЦИОНАЛЬНЫЙ ДИСПЛЕЙ
                p На PistenBully 600 Polar SCR установлен полукруглый штурвал с возможностью бесступенчатой регулировки по вертикали и горизонтали с многофункциональным дисплеем.
            .col-md-2.col-d-3
                img(src="i/product-card/c3.jpg" alt="alt изображения")
                h3 СИСТЕМА ЦЕТРАЛЬНОГО УПРАВЛЕНИЯ “TERMINAL” И СЕНСОРНЫЙ ЭКРА
                p Управление всеми функциями осуществляется просто: с помощью сенсорного экрана или через систему центрального управления Terminal.
            .col-md-2.col-d-3
                img(src="i/product-card/c2.jpg" alt="alt изображения")
                h3 ДЖОЙСТИК PISTENBULLY: ВСЕ ФУНКЦИИ – В ОДНОЙ РУКЕ!
                p С джойстиком PistenBully Kassborher управление всеми важными функциями всегда у вас под рукой, а значит в самом быстром доступе.

            .col-md-2.col-d-3
                img(src="i/product-card/n16.jpg" alt="alt изображения")
                h3 200 E
                p Транспортный контейнер (3-точечная нагрузка) от 3 879,58 €
            .col-md-2.col-d-3
                img(src="i/product-card/n17.jpg" alt="alt изображения")
                h3 S240
                p Отвальный снегоочиститель компл. гидравлическая боковая регулировка от 7 413,96 €
            .col-md-2.col-d-3
                img(src="i/product-card/n18.jpg" alt="alt изображения")
                h3 FSMT 2150/650
                p Снегоочиститель, базовое устройство от 19 608,73 €


